* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s linear;
}

header {
  width: 700px;
  margin-bottom: 20px;
  border-radius: 10px;
  position: relative;
}

.theme {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 10px;
}

.changeTheme {
  font-size: 24px;
  color: #111;
  margin-right: 10px;
}

.dark {
  background-color: #111;
  transition: 0.3s linear;
}

.dark .container {
  background-color: #111;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
}

.dark input[type='text'] {
  background-color: #111;
  box-shadow: 10px 10px 20px rgba(255, 255, 255, 0.1);
}

.dark .informations {
  background-color: white;
  color: #111;
}

.dark .social {
  color: white;
}

.dark .userBio {
  color: white;
}

.dark #nameUser {
  color: #fff;
}

.dark .user_info{
  color: white;
}

.dark .social a {
  color: white;
}

.dark .changeTheme {
  color: #fff;
}

.dark .changeTheme {
  font-size: #111;
}

.dark .label {
  background-color: #fff;
}

.dark .ball {
  background-color: #111;
}

.dark .fa-search {
  color: #fff;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  height: 26px;
  width: 50px;
  border-radius: 50px;
  padding: 5px;
  position: relative;
}

.fa-sun {
  color: white;
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

.fa-search {
  position: absolute;
  left: 30px;
  color: #111;
}

.ball {
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: 0.3s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(25px);
}

.checkbox {
  display: none;
}

.search_user {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='text'] {
  width: 100%;
  padding: 15px;
  padding-left: 70px;
  border-radius: 10px;
  font-size: 20px;
  background-color: #3131;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
}

button[type='submit'] {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  background-color: hsl(212, 100%, 50%);
  border: none;
  color: white;
  cursor: pointer;
  transition: filter 0.2s;
}

button[type='submit']:hover {
  filter: brightness(0.9);
}

.container {
  width: 700px;
  height: 400px;
  background-color: #3131;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  color: #111;
}

.userAvatar img {
  width: 180px;
  height: 180px;
  border-radius: 100%;
  border: 1px transparent #141d2e;
  object-fit: cover;
  background-color: #fff;
}

.container_user {
  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user_info {
  display: flex;
  justify-content: space-between;
  color: #111;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#nameUser {
  font-size: 26px;
}

#date_joined {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.userBio {
  text-align: start;
  margin: auto 0;
}

.join {
  width: 20%;
}

.user a,
#login {
  color: hsl(212, 100%, 50%);
}

#name #login,
#bio {
  margin-top: 25px;
}

#nameUser,
.userBio {
  color: #111;
}

#name {
  font-size: 26px;
}

.informations {
  width: 100%;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #313131;
  border-radius: 10px;
  color: white;
}

.social {
  width: 100%;
  margin-top: auto;
  font-size: 14px;
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: 250px 200px;
  gap: 10px;
  color: #111;
}

.social div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.social a {
  color: #111;
}

a {
  text-decoration: none;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.dark .github-corner {
  display: none;
}

.dark .github-corner-dark {
  display: block;
}

.github-corner-dark {
  display: none;
}

.dark .github-corner-dark:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}
@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}
@media (max-width: 500px) {
  .github-corner-dark:hover .octo-arm {
    animation: none;
  }
  .github-corner-dark .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}
